@media (max-width: 768px) and (min-width: 375px) {
    .leftbar{
        display: none;
    }
    .rightbar{
        display: none;
    }

    .post-options{
        display: none;
    }

    .main-container{
        width: 100%;
    }

    .title{
        display: none;
    }

    .post-tweet{
        display: none;
    }

    .media-query2{
        display: flex;
        width: 100%;
        border-bottom: solid 1px rgb(239 243 244);
        padding-bottom: 20px;
        background: white;
        position: sticky;
        top: 0;
    }

    .bird{
        padding-left: 180px;
    }

    .propic img{
        border-radius: 25px;
    }

    .media-query1{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        border-top: solid 1px rgb(239 243 244);
        background-color: white;
        position: sticky;
        bottom: 0;
    }
